@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #F3F3F3;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-caixa img {
    width: auto;
    padding-left: 20px;
}

.header-caixa nav {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #F3F3F3;
}

.header-caixa nav > a {
    margin-right: 20px;
    text-decoration: none;
    color: #FFFFFF
}

.header-caixa nav > a:hover{
    color: #39b24a;
    font-size: 18px;
}

/* Section */

section {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    width: 98%;
    height: 400px;
    margin: 15px;
    margin-top: 30px;
    
}

/* Section - Pizza */

.pizza {
    background-image: url(../imgs/delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 490px;
    height: 350px;
}

.pizza h2 {
    position: relative;
    width: 485px;
    height: 28px;
    top: 5%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    text-align: center;
    color: #FC200C;

}

.pizza span {
    color: #FFFFFF;
}

/* Section - Cardapio */

.cardapio {
    width: 490px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 5px;
}

.cardapio img {
    position: relative;
    left: 70%;
    bottom: 80px;
}

.cardapio h2 {
    position: relative;
    left: 30%;
    top: 35px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
}

.cardapio p {
    position: relative;
    left: 20%;
    top: 75px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #222222;
}

.cardapio ol {
    position: relative;
    left: 15%;
    top: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #222222;

}

/* Footer */

footer {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0px;

    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-caixa img {
    width: auto;
    padding-right: 20px;
}

.footer-caixa nav {
    position: absolute;
    width: 74px;
    height: 112px;
    left: 40px;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #F3F3F3;
}

.footer-caixa nav > a {
    text-decoration: none;
    color: #ffffff;
}

.footer-caixa nav > a:hover {
    color: #39b24a;
    font-size: 18px;
}